<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
      integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <h1>Python chat application.</h1>
    <div class="chat-container">
      <div class="chat-header">Python Chat</div>
      <div class="username-container">
        <span id="current-username"></span>
        <input type="text" id="username-input" placeholder="New Username" />
        <button id="update-username-button">Update Username</button>
      </div>
      <div class="chat-messages" id="chat-messages"></div>
      <div class="chat-input">
        <input
          type="text"
          id="message-input"
          placeholder="Type your message..."
        />
        <button id="sent-button">Send</button>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
